Source: aravis
Priority: optional
Maintainer: Troy D. Straszheim <troy@resophonic.com>
Build-Depends: debhelper (>=9), dh-autoreconf, intltool, autoconf, gobject-introspection, gtk-doc-tools, libgstreamer1.0-dev, libxml2-dev, python-gst-1.0, python-gobject-dev, libusb-1.0-0-dev, libaudit-dev, libcap-ng-dev, libgtk-3-dev, gtk-doc-tools, libnotify-dev, libgstreamer-plugins-good1.0-dev, libgstreamer-plugins-base1.0-dev, libgtk2.0-bin
Standards-Version: 3.9.6
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/AravisProject/aravis.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/aravis.git

Package: libaravis-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: genicam image acquisition lib with glib
 <insert long description, indented with spaces>
